<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="CompumatriceConnectionString" connectionString="Data Source=PRAPHULLA-PC\SQLEXPRESS;Initial Catalog=Compumatrice;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="CompumatriceConnectionString2" connectionString="Data Source=PRAPHULLA-PC\SQLEXPRESS;Initial Catalog=Compumatrice;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
		<add name="my-con" connectionString="Data Source=PRAPHULLA-PC\SQLEXPRESS;Initial Catalog=Compumatrice;Integrated Security=True"/>
		<add name="CompumatriceConnectionString3" connectionString="Data Source=PRAPHULLA-PC\SQLEXPRESS;Initial Catalog=Compumatrice;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
